<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="refresh" content="300">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Radiomax</title>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fascinate" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Styles -->
  <link rel="stylesheet" href="cool.css">
</head>

<body>
  <div id="wrapper">
    <div class="row">

      <div id="radiomax">
        <div class="col-md-12 text-center">
          <h1 v-on:click="hello()">Joisak Radio MAX</h1>
          <button class="btn-channel" v-on:click="hideAndShow(0)">P1</button>
          <button class="btn-channel" v-on:click="hideAndShow(1)">P2</button>
          <button class="btn-channel" v-on:click="hideAndShow(2)">P3</button>
          <button class="btn-channel" v-on:click="hideAndShow(3)">P4</button>
        </div>




        <div class="text-center col-md-6 col-md-offset-3">

          <div v-for="channel in channelInfo">
            <div v-bind:class="channel.id"></div>
            <transition name="hide">
              <div v-cloak v-show="show">
                <transition name="hide">
                  <div v-if="channel.hidden">
                    <img v-on:click="showInfo = !showInfo" class="current-img" :src="channel.image">
                    <h2>{{channel.title}}</h2>
                    <p class="info" v-show="showInfo">{{ channel.description }}</p>

                    <p class="next-program">Nästa program: {{ channel.next}}</p>
                    <audio :src="channel.play" controls>
        </div>
        </transition>
    </transition>

  </div>
    </div>
  </div>
  </div>
 </div>
 </wrapper>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
<script src="magic.js"></script>
</html>
